body
{
	overflow-x: hidden;
}


// Definir variables

// Colors
$mainColor:#b8c886;
$secondaryColor: #061E0B;
$fooColor: #404040;



// Sizing
$w-100: 100%;
$w-50: 50%;
$w-25: 25%;



//      MAP ----------

$paleta:(
	'uno':#b8c886,
	'dos':#061E0B,
	'tres':#404040);

